/* ken burns effect */
.carousel .carousel-item img {
  -webkit-transition: all 5s;
  -moz-transition: all 5s;
  -o-transition: all 5s;
  transition: all 5s;
}
.carousel .carousel-item.active.inactiveUntilOnLoad img,
/* starting scale for the default images with no animation effect, i.e. 1.0 zoomed in */
.carousel .carousel-item img {
  -webkit-transform: scale(1.);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/* pan across image back and forward */
/* this defines the starting scale for the panned images i.e. 1.4x zoomed in */
/* reused style for zoom-out images too, to start them zoomed in */
.carousel .carousel-item img.pan {
  -webkit-transform: scale(1.4, 1.4);
  -moz-transform: scale(1.4, 1.4);
  -o-transform: scale(1.4, 1.4);
  -ms-transform: scale(1.4, 1.4);
  transform: scale(1.4, 1.4);
}

.carousel .carousel-item.active.pan img {
  
  -webkit-animation: 10s slideImg;
  -webkit-transform: scale(1.4, 1.4);
  -moz-transform: scale(1.4, 1.4);
  -moz-transform: 10s slideImg;  
  -o-transform: scale(1.4, 1.4);
  -o-transform: 10s slideImg;
  animation: scale(1.4, 1.4);
  animation: 10s slideImg;  
  
}

@-webkit-keyframes slideImg {
        0% { transform: translateX(0%) scale(1.4, 1.4) ; }       
        50% { transform: translateX(-10%) scale(1.4, 1.4); }
       100% { transform: translateX(0%) scale(1.4, 1.4); }
    }
  @keyframes slideImg {
        0% { transform: translateX(0%) scale(1.4, 1.4); }     
        50% { transform: translateX(-10%) scale(1.4, 1.4); }      
       100%  { transform: translateX(0%) scale(1.4, 1.4); }
    }


/* zoom into image */
/* this defines the starting scale for the default images i.e. 1.4x zoomed in */
.carousel .carousel-item.active img {
  -webkit-transform: scale(1.4,1.4);
  -moz-transform: scale(1.4,1.4);
  -o-transform: scale(1.4,1.4);
  -ms-transform: scale(1.4,1.4);
  transform: scale(1.4,1.4);
}
  
/* zoom in and pan down slightly */
.carousel .carousel-item.active.zoomdown img {
  
  -webkit-animation: 10s zoomImgDown;
  -webkit-transform: translateY(-20%) scale(1.4, 1.4);
  -moz-transform: 10s zoomImgDown;  
  -moz-transform: translateY(-20%) scale(1.4, 1.4);
  -o-transform: 10s zoomImgDown;
  -o-transform: translateY(-20%) scale(1.4, 1.4);
  animation: 20s zoomImgDown infinite; 
  
}

  @-webkit-keyframes zoomImgDown {
        0% { transform: translateY(0%) scale(1.0, 1.0) ; }      
       100% { transform: translateY(-20%) scale(1.4, 1.4); }
    }
  @keyframes zoomImgDown {
        0% { transform: translateY(0%) scale(1.0, 1.0); }         
       50%  { transform: translateY(-20%) scale(1.4, 1.4); }
      100%  { transform: translateY(0.0001%) scale(1.0, 1.0); }
       }  
    


/* zoom out */
.carousel .carousel-item.active.zoom-out img {
    -webkit-transform:  scale(1.4, 1.4);
  -webkit-animation: 10s zoomOut;
  -moz-transform:  scale(1.4, 1.4);
  -moz-transform: 10s zoomOut;  
  -o-transform:  scale(1.4, 1.4);
  -o-transform: 10s zoomOut;
animation: scale(1,4,1.4);
  animation: 20s zoomOut infinite; 
  
}

  @-webkit-keyframes zoomOut {
        0% { transform:  scale(1.4, 1.4) ; }      
       100% { transform:  scale(1.0, 1.0); }
    }
  @keyframes zoomOut {
        0% { transform:  scale(1.4, 1.4); }         
       50%  { transform:  scale(1.0, 1.0); }
      100%  { transform:  scale(1.4, 1.4); }
       }  
    


